.square{

  height: 6rem;
  width: 6rem;
  border: 1px solid black;
  margin-right: -1px;
  margin-top: -1px;

}

.tic-tac-toe{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row{

  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-row .square{


  border-block: none;
}

.playAgain{

  height: 40px;
  width: 80px;
  margin-top: 20px;
}

.status{

  margin-bottom: 5px;
  font-weight: bold;
}

.gameHeader{

  text-align: center;
}